
/*header css*/

*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    z-index: 5;
}
#container{
    margin-left: 10px;
}
body{
    background-color: black;
}
nav{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    width: 1400px;
    background-color: black;
    z-index: 5;
}
nav article{
    margin-right: 10px;
}
#List{
    display: flex;
    width: 15px;
    height: 10px;
    padding: 17px 13.5px 17px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
#List:hover{background: #2D2D2D; cursor: pointer;transition: 0.3s;}
#List:active{background-color: #4e4e4e;}
#nav{
    background-color: black;
    color: white;
    width: 45px;
}
#nav *{
    margin: 5px 0px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    cursor: pointer;
    padding: 10px 5px;
}
#home *{
    margin: 2px;
    font-size: 12px;
}
#home:hover{
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
}
#serch-bar{
    width: 500px;
    height: 30px;
}
#serch{
    width: 500px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: #000000;
    border: 1px solid #4e4e4e;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 5px 10px;
    margin: 0px;
}
#bar{
    position: fixed;
    left: 400px;
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#voice{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: #333333; 
    position: absolute;
    left: 1000px;
}
#voice:hover{
    background-color: #4e4e4e;
    cursor: pointer;
    transition: 0.3s;
}
#alarm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    
}
#alarm:hover{background-color: #2d2d2d;cursor: pointer;transition: 0.3s;}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    
}
#video:hover{background-color: #2d2d2d;cursor: pointer;transition: 0.3s;}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: lightblue;
}
#box1{
    width: 180px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0px;
}
#serch-box{
    width: 600px;
    display: flex;
    flex-direction: row;
    height: 40px;
}
#button{
    width: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    padding: 6px 10px;
}
#button img{
    width: 20px;
}
#bell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#subText-voice{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    display: none;
    right: 0px;
}
#subText-video{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 4px 5px;
    font-size: 11px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    display: none;
    right: 0px;
}
#subText-bell{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    display: none;
    right: 0px;
}
#sideBar{
    width: 45px;
    height: 750px;
    overflow-y: auto;
}
#sideBar div{
    color: white;
    font-size: 14px;
}
#home-text{
    color: white;
    text-align: center;
}
#short{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
}
#short:hover{
    background-color: #2D2D2D;
    transition: 0.2s;
    
}
#like{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
}
#like:hover{
    background-color: #2D2D2D;
    transition: 0.2s;
    
}
#hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: rgb(81, 81, 81);
}
#me{
    padding: 16px;
}
#outline{padding: 20px 10px 10px 5px;}
#outline a{
    color: rgb(212, 212, 212);
    font-size: 13px;
    text-decoration-line: none;
}
#outline2{
    color: gray;
    font-size: 12px;
    line-height: 18px;
}
#outline2 span a{color: blue;}
#sideBar::-webkit-scrollbar {
    width: 10px;
}
#sideBar::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#sideBar.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
#taja{
    position: absolute;
    width: 40px;
    right: 120px;
    top: 8px;
    cursor: pointer;
}
#serch-in{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: -30px;
    display: none;
}
#categori{
    position: fixed;
    width: 1300px;
    background-color: rgb(0, 0, 0);
    height: 40px;
    left: 100px;
    margin-top: 10px;
    padding-top: 60px;
    padding-left: 5px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    z-index: 4;
}
#categori p{
    color: white;
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(43, 43, 43);
    padding: 10px 13px;
    text-align: center;
    border-radius: 10px;
    margin-right: 15px;
}
#back{
    display: none;
}
#subText-serch{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    right: 0px;
    display: none;
}
#serchButton{
    display: none;
}
#selectLatter{
    background-color: white;
    color: black;
}
#my{
    display: none;
}
#hr{
    display: none;
}
#ll{display: none;}
#ff{display: none;}
#you{display: none;}
#setting{display: none;}
#dd{display: none;}