#sideBar{
    display: none;
}
#mainShort{
    display: none;
}
#videos{
    width: 450px;
    left: 20px;
}
.v{
    width: 450px;
}
.thumbnail{
    width: 450px;
    height: 260px;
}
#iconBox{
    right: 900px;
}
#search{
    width: 300px;
}
#bar{
    left: 70px;
    display: none;
}
#voice{
    left: 280px;
}
#searchButton{
    position: absolute;
    left: 230px;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 100px;
    padding: 8px;
}
#searchButton:hover{
    background-color: rgb(63, 63, 63);
}
#searchButton img{
    width: 25px;
}
#back{
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}
#categori{
    left: 20px;
    overflow-x: auto;
}
#titles{
    width: 380px;
}
