nav{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    width: 1400px;
    background-color: black;
    z-index: 5;
}
nav article{
    margin-right: 10px;
}
#List{
    display: flex;
    width: 15px;
    height: 10px;
    padding: 17px 13px 17px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
#List:hover{background: #2D2D2D; cursor: pointer;transition: 0.3s;}
#List:active{background-color: #4e4e4e;}
#logo img{width: 120px}
#nav{
    background-color: black;
    color: white;
    width: 45px;
}
#nav *{
    margin: 5px 0;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    padding: 10px 5px;
}
#home *{
    margin: 2px;
    font-size: 12px;
}
#home:hover{
    border-radius: 10px;
    background-color: rgb(37, 37, 37);
}
#search-bar{
    width: 500px;
    height: 30px;
}
#search{
    width: 500px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: #000000;
    border: 1px solid #4e4e4e;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 5px 10px;
    margin: 0;
}
#bar{
    position: fixed;
    left: 400px;
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#voice{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: #333333;
    position: absolute;
    left: 1000px;
}
#voice:hover{
    background-color: #4e4e4e;
    cursor: pointer;
    transition: 0.3s;
}
#voice img{width:15px;}
#alarm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;

}
#alarm:hover{background-color: #2d2d2d;cursor: pointer;transition: 0.3s;}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 40px;
    height: 40px;

}
#video:hover{background-color: #2d2d2d;cursor: pointer;transition: 0.3s;}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: lightblue;
}
#iconBox{
    width: 180px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
}
#search-box{
    width: 600px;
    display: flex;
    flex-direction: row;
    height: 40px;
}
#button{
    width: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    padding: 6px 10px;
}
#button img{
    width: 20px;
}
.bell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#subText-voice{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    display: none;
    right: 0;
}
#subText-video{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 4px 5px;
    font-size: 11px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    display: none;
    right: 0;
}
#subText-bell{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    display: none;
    right: 0;
}
#subText-search{
    color: white;
    background-color: gray;
    border-radius: 10px;
    width: 30px;
    padding: 2px 5px;
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    text-align: center;
    right: 0;
    display: none;
}